audioread==3.0.1
expelliarmus==1.1.12
hdf5plugin==5.0.0
idna==3.10
importrosbag==1.0.4
iterative-stratification==0.1.9
joblib==1.4.2
lazy-loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
msgpack==1.1.0
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
pbr==6.1.0
pillow==10.4.0
pooch==1.8.2
pycparser==2.22
pyparsing==3.1.4
scikit-learn==1.5.2
soundfile==0.12.1
soxr==0.5.0.post1
threadpoolctl==3.5.0
tonic==1.5.0
yacs==0.1.8